
# Math Practice

Multiply 3.93 by 4901

In [1]:
print (3.93*4901)

19260.93

Divide 3 by 0.3

In [2]:
print (3/0.3)

10.0

Find the integer result of 3 / 2

In [7]:
print (3//2)

1

Find the remainder of 454 / 7

In [8]:
print (454%7)

6

Find the value of 9 raised to the 12th power

In [12]:
print (9**12)

282429536481

Find 3.14159 rounded down to the nearest integer

In [15]:
print (round(3.14159))

3

Find 3.14159 * 7 rounded to the nearest integer

In [16]:
print (round(3.14159*7))

22

# Data Type Practice

Cast "2019" to an integer

In [94]:
number = round(float('2019'))
print(number)
print (type(number))

2019
<class 'int'>

Cast 2019 to a string

In [75]:
print(type(str(2019)))

<class 'str'>

Find the data type of True

In [26]:
print(type(True))

<class 'bool'>

Find the data type of "False"

In [27]:
print(type(False))

<class 'bool'>

Check whether 'c' is greater than 's'

In [28]:
print ('c' > 's')

False

We know that 30908234 is an even number. Check this using a line of code.

In [29]:
print (30908234%2 ==0)

True

Return the value of 6.3 divided by 3.8

In [80]:
value = 6.3/3.8
print (value)

1.6578947368421053

Now cast the value of 6.3 divided by 3.8 to an integer. Notice anything interesting?

In [86]:
value = 6.3/3.8
value = round(value)
print (value)
print (type(value))

2
<class 'int'>

# String Practice

Print your whole name with one print statement including the necessary spaces

In [38]:
print ("Xiexiao Luo")

Xiexiao Luo

Print your first name and last in different lines

In [44]:
print ("Xiexiao\n" + "Luo")

Xiexiao
Luo

Make the statement correct: print("8 % 2 =" + (8 % 2))

In [46]:
print("8 % 2 =" + str((8 % 2)))

8 % 2 =0

Print the following, (including the single and double quotes):<br />
Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

In [52]:
print("Albert Einstein"+"'"+"s best quote is "+ """"I have no special talent. I am only passionately curious." """)

Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

Try to concatenate your first name and last name into a single string

In [84]:
name = "Xiexiao " + "Luo"
print (name)
print(type(name))

Xiexiao Luo
<class 'str'>